<h1> Mes factures </h1>
<%= link_to "Ajouter une facture", new_bill_path %>

<ul>
  <% @bills.each do |bill| %>
      <%= bill.category %> - <%= bill.provider %> - <%= bill.amount %> €
      <div class="edited-bill">
        <%= link_to edit_bill_path(bill) do%>
          <p class="card-text"><i class="far fa-edit"></i></p>
        <% end %>
      </div>
      <div class="deleted-bill">
        <i class="fas fa-trash-alt" ></i>
        <%= link_to "", bill_path(bill), method: :delete, id: "delete-link", class: "hidden" %>
      </div>
  <% end %>
</ul>

<h1> Mes échéances </h1>



<h1> Mon appartement </h1>

