<div class="container">
  <div class="my_profil_set text-center mt-3" >
    <%= cl_image_tag current_user.avatar, class: "avatar-big", alt: "avatar-big" %>
    <h2 class='mb-3'> Hello <%= current_user.nickname %> ! </h2>

    <h3 class="border-top"> Mes factures </h3>
    <br>


    <% @bills.each do |bill| %>


    <div class="card-booking d-flex justify-content-between align-items-center">
      <div class="card-booking-left">
        <img src="https://res.cloudinary.com/dzh1pkhi5/image/upload/v1559657645/invoice_vjmm3z.png">
          <div class="card-booking-infos">
              <h6><%= bill.category %> - <%= bill.amount %>€</h6>
              <p><%= bill.payment_date %></p>
          </div>
      </div>
      <div class="card-booking-right">
          <%= link_to edit_bill_path(bill), class: "edited-bill" do%>
          <i class="far fa-edit card-text"></i>
        <% end %>

      </div>


       <div class="card-booking-right">
        <div class="delete-box" id="<%= bill.id %> alert-delete-bill">
          <i class="fas fa-trash-alt" ></i>
        </div>
        <%= link_to "", bill_path(bill), method: :delete, id: "#{bill.id}delete-link", class: "hidden" %>
      </div>
    </div>

    <% end %>
    </div>

    <br>

    <div class="d-flex justify-content-around mb-4">
      <%= link_to "Ajouter une facture", new_bill_path, class: "middlebutton" %>
    </div>




    <h3 class="border-top"> Mon appartement </h3>
    <br>

    <div class="d-flex w-100 justify-content-around mb-4">
      <div>
        <h6><%= current_user.flat.name %></h6>
      </div>
      <%= link_to edit_flat_path(current_user.flat), class: "edited-bill" do%>
        <i class="far fa-edit card-text"></i>
      <% end %>
      <i class="fas fa-trash-alt" ></i>
    </div>

    <p>Lien à partager à tes colocataires :</p>
    <div class="fake-input mb-3">
      <p><%= current_user.flat.token %></p>
    </div>
  </div>
</div>
