<div class="container">

  <h2 class="mb-5 mt-3">Choisis une catégorie</h2>

  <div class="my-5">
    <% if @bill_gaz_present %>
      <%= link_to "Gaz", new_bill_path(category: 'Gaz'),  class: "btn btn-secondary btn-lg disabled btn-block" %>
    <% else %>
      <%= link_to "Gaz", new_bill_path(category: 'Gaz'),  class: "bigbutton btn-block btn-lg" %>
    <% end %>
  </div>

  <div class="my-5">
    <% if @bill_elec_present %>
      <%= link_to "Electricité", new_bill_path(category: 'Gaz'),  class: "btn btn-secondary btn-lg btn-block disabled" %>
    <% else %>
      <%= link_to "Electricité", new_bill_path(category: 'Electricité'),  class: "bigbutton btn-lg btn-block" %>
    <% end %>
  </div>

  <div class="my-5">
    <% if @bill_internet_present %>
      <%= link_to "Internet", new_bill_path(category: 'Gaz'),  class: "btn btn-secondary btn-lg btn-block disabled" %>
    <% else %>
      <%= link_to "Internet", new_bill_path(category: 'Internet'),  class: "bigbutton btn-lg btn-block" %>
    <% end %>
  </div>

  <div class="my-5">
    <%= link_to "Autre", new_bill_path,  class: "bigbutton btn-lg btn-block" %>
  </div>

  <div class="my-5">
    <div class="d-flex justify-content-center fixed-bottom">
      <%= link_to "Terminer", bills_path,  class: "bigbutton btn-lg" %>
    </div>
  </div>
</div>

