
<div class="container">
  <% if @category.present? %>
    <h1><%= @category %></h1>
  <% else %>
    <h1>Ajouter une facture</h1>
  <% end %>

  <%= simple_form_for [@bill] do |f| %>
    <% if @category.present? %>
      <%= f.input :category, input_html: { value: @category }, as: :hidden %>
    <% else %>
      <%= f.input :category, collection: Bill::CATEGORY %>
    <% end %>
    <%= f.input :provider %>
    <%= f.input :amount %>
    <%= f.input :payment_date %>
    <%= f.input :user, collection: current_user.flat.users, :label_method => lambda { |user| user.first_name } %>
    <%= f.input :contract_picture %>
    <%= f.input :contract_picture, as: :hidden %>

    <%= f.button :submit, "Ajouter", class: "btn btn-success btn-lg btn-block" %>
  <% end %>
</div>
