
<div class="container my-3">
  <% if @category.present? %>
    <h1><%= @category %></h1>
  <% else %>
    <h1>Ajouter une facture</h1>
  <% end %>


  <%= simple_form_for [@bill] do |f| %>
    <% if @category.present? %>
      <%= f.input :category, input_html: { value: @category }, as: :hidden %>
    <% else %>
      <%= f.input :category, label: 'Catégorie', collection: Bill::CATEGORY %>
    <% end %>
    <%= f.input :provider, label: 'Fournisseur' %>
    <%= f.input :amount, label: 'Montant' %>
    <%= f.input :payment_date, label: 'Date de prélèvement' %>
    <%= f.input :user, label: 'Qui est prélevé ?', collection: current_user.flat.users, :label_method => lambda { |user| user.first_name } %>
    <%= f.input :contract_picture, label: 'Ajouter le contrat' %>
    <%= f.input :contract_picture, as: :hidden %>

    <div class="d-flex justify-content-center fixed-bottom">
      <%= f.button :submit, "Ajouter", class: "bigbutton" %>
    </div>

  <% end %>
</div>
