<h1><%= @bill.category %> payé par <%= @bill.user.first_name %> - <%= humanized_money_with_symbol(@bill.amount) %></h1>

<h2>Qui a remboursé ?</h2>
<% @bill.transactions.each do |transaction| %>
<p>
<%= transaction.user.first_name %> a remboursé <%= transaction.amount %> le <%= transaction.payment_date %>
</p>
<% end %>

<% unless @user_already_paid %>

  <p> </p>
  <%= simple_form_for [@bill, @transaction] do |f| %>
    <%= f.association :user, as: :hidden %>
    <%= f.association :bill, as: :hidden %>

    <%= f.button :submit, "Rembourser #{@transaction.amount}", class: "btn btn-success btn-lg btn-block" %>
  <% end %>

<% end %>
