<div class="image-background-refund">
  <br>
  <br>
  <div class="container">
    <div class="refund-form justify-content-center">

      <h2>Remboursement</h2>
      <h4>La facture "<%= @bill.category %>" est prélevée sur le compte bancaire de <%= @bill.user.first_name %></h4>
      <p>Le montant total est de <%= @bill.amount %> €</p>

      <img src="https://res.cloudinary.com/dzh1pkhi5/image/upload/v1559638026/undraw_wallet_aym5_cialio.svg" alt="payment-wallet" id="refund-payment">
      <br>

      <% @bill.transactions.each do |transaction| %>
        <p>
          <%= transaction.user.nickname %> a déjà remboursé <%= transaction.amount %> €
        </p>
      <% end %>


      <% unless @user_already_paid %>
        <div class=" d-flex align-items-center justify-content-center mt-3">
          <%= image_tag "#{@user.avatar}", class: "avatar" %>
        </div>
        <p>Procéder au remboursement de <%= @user.first_name %></p>
        <%= simple_form_for [@bill, @transaction], remote: true do |f| %>
          <%= f.association :user, as: :hidden %>
          <%= f.association :bill, as: :hidden %>




          <div c id="alert-transaction">

          </div>
          <div class="bigbutton btn-lg btn-block transaction-box">
            <%= f.button :submit, "Rembourse #{@transaction.amount} €", id: "add-transaction" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


