

<% if user_signed_in? %>

  <div class="container">
    <h2 class="my-5">Je créé une coloc'</h2>

    <div class="d-flex justify-content-center">
      <%= link_to "C'est parti !", new_flat_path, class: "bigbutton"%>
    </div>

    <h2 class="my-5">Je rejoins une coloc'</h2>

    <div class="d-flex justify-content-center">

      <%= link_to "Rejoindre un appart !", join_flat_path, class: "bigbutton"%>
    </div>
  </div>

<% else %>


  <div class="container">

  <!--  <div class="title-Billy-Mate">
  <%= link_to root_path do %>
    <%= image_tag "https://res.cloudinary.com/dzh1pkhi5/image/upload/v1559209857/logoBillyMate_zq9mgn.png", class: "logo-size"%>
  <% end %>
    <h1 class="title-align-right">Billy-mate</h1>
    </div> -->

    <div class="home-welcome">
      <h2>Bienvenue Colocataire!</h2>
      <h3>Mon meilleur souvenir d'enfance, ne pas payer de factures .. Depuis j'ai grandi !</h3>
    </div>

    <div class="home-card">
      <img class="img-coloc-home" src="https://welikeit.fr/wp-content/uploads/2014/12/espace-vie-coloc-vie-seul.jpg" alt="image colocataires">
    </div>

    <div>
       <h3>Cette application te permettra a toi et aux autres colocataires de suivre en temps réel tes factures à payer et celles déja soldées.</h3>
    </div>
    <div class="button-align-end d-flex justify-content-center">
      <%= link_to "C'EST PARTI !", new_user_registration_path, class: "middlebutton"%>
    </div>

  </div>



<% end %>

